@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'OtomanopeeOne';
        src: url('/fonts/OtomanopeeOne-Regular.woff');
    }
}

.text-shadow {
    text-shadow: 0px 2px 3px #00000076;
}
